.vscode/**
.vscode-test/**
.vscode-test.mjs
test/**
.gitignore
.git
.eslintrc.json
node_modules/**
out/test/**
src/**
**/tsconfig.json
**/jsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
package-lock.json
eslint.config.mjs
vsc-extension-quickstart.md